@font-face {
    font-family: 'click';
    src: url('./ClickerScript-Regular.eot');
    src:url('./ClickerScript-Regular.woff2') format('woff2'),
        url('./ClickerScript-Regular.woff') format('woff'),
        url('./ClickerScript-Regular.ttf') format('truetype'),
        url('./ClickerScript-Regular.svg#ClickerScript-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'play ';
    src: url('./PlayfairDisplay-Medium.eot');
    src: url('./PlayfairDisplay-Medium.woff2') format('woff2'),
        url('./PlayfairDisplay-Medium.woff') format('woff'),
        url('./PlayfairDisplay-Medium.ttf') format('truetype'),
        url('./PlayfairDisplay-Medium.svg#PlayfairDisplay-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'play';
    src: url('./PlayfairDisplay-Regular.eot');
    src: 
        url('./PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./PlayfairDisplay-Regular.woff') format('woff'),
        url('./PlayfairDisplay-Regular.ttf') format('truetype'),
        url('./PlayfairDisplay-Regular.svg#PlayfairDisplay-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'play';
    src: url('./PlayfairDisplay-SemiBold.eot');
    src: url('./PlayfairDisplay-SemiBold.woff2') format('woff2'),
        url('./PlayfairDisplay-SemiBold.woff') format('woff'),
        url('./PlayfairDisplay-SemiBold.ttf') format('truetype'),
        url('./ClickerScript-Regular.eot') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

.play{
    font-family: 'play' , sans-serif;
}

.click{
    font-family: 'click' , sans-serif;
}
