@import "tailwindcss";

#hero{
    background-image: url('./assets/images/bg-coffee.jpg');
    /* filter: brightness(.6); */
}

#bg-layout{
    background-color: rgba(0, 0, 0, 0.514);
    position: absolute;
  inset: 0;
  z-index: 0;
}

#chance-sec , #footer-1{
    background-image: url('./assets/images/coffe-bg.jpg');
}

.swiper-button-next,
.swiper-button-prev {
  background: #f0813cd7;
  color: black;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 14px;
}

#footer-2{
  background-image: url('./assets/images/footer.jpg');
}

#loginpage , #signup{
  background-image: url(./assets/images/coffee-cup-and-beans-on-old-kitchen-table-top-view-with-copyspace-for-your-text-generative-ai-photo.webp);
  background-repeat: no-repeat;
  background-size: cover;  
}

/* hello bhaiya  */
/* hello bhai  */


